body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.power-toggle-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.power-toggle-switch-input {
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
    opacity: 0;
    z-index: 10;
}

.power-toggle-switch-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.popup-container {
    width: 20em;
    padding: 0.75em 0.85em;
    display: flex;
    flex-direction: column;
    gap: 0.75em;
    background: linear-gradient(to bottom,
            hsl(0 0% 10%) 0%,
            hsl(0 0% 12%) 100%);
}

.popup-header {
    display: flex;
    flex-direction: column;
}

.popup-header-title {
    font-size: 1.45em;
    text-align: center;
    margin: 0;
    color: hsl(0, 0%, 85%);
}

.popup-header-ext-state {
    color: hsl(0, 65%, 45%);
}

.popup-header-ext-state.enabled {
    color: hsl(145, 65%, 45%);
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 0.5em;
}


.popup-content-theme-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5em;

}

.popup-toggle-group {
    display: flex;
    flex-direction: column;
    gap: 1.35em;
}